Web_S03/WebContent/wsdl/PersonaServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.com" xmlns:intf="http://demo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarIdResponse">
    <complexType>
     <sequence>
      <element name="buscarIdReturn" type="impl:Persona"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Persona">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarIdRequest">

      <wsdl:part element="impl:buscarId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarIdResponse">

      <wsdl:part element="impl:buscarIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonaServiceImpl">

      <wsdl:operation name="buscarId">

         <wsdl:input message="impl:buscarIdRequest" name="buscarIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarIdResponse" name="buscarIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonaServiceImplSoapBinding" type="impl:PersonaServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonaServiceImplService">

      <wsdl:port binding="impl:PersonaServiceImplSoapBinding" name="PersonaServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/Web_S03/services/PersonaServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
